.friends__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}
.friends__headericon {
  display: flex;
  align-items: center;
  font-size: small;
}
.friends__header h1 {
  font-size: 35px;
  font-weight: 900;
  margin-left: var(--horizontal-space);
}
.friends__header a {
  margin-right: var(--horizontal-space);
  color: #060607;
}
.friends__header-gear {
  padding-bottom: 9px;
  position: relative;
}
.friends__header-dot-mark {
  display: flex;
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  right: -5px;
}
#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 132px;
  animation: hideSplashScreen 1s ease-in-out forwards;
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes rotationGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(90deg);
  }
}
.friends__headericon .fa-gear:hover {
  animation: rotationGear 1s ease-in-out infinite;
}
