.friends__header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  position: relative;
}
.friends__header h1 {
  font-size: 35px;
  font-weight: 900;
}
.friends__header a {
  margin-left: 20px;
}
