.nav {
  color: goldenrod;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  border-top: 1px solid rgb(0, 0, 0, 0.2);
  background-color: #f9f9fa;
  box-sizing: border-box;
  bottom: 0px;
  position: fixed;
  width: 100%;
}

.nav__link {
  color: #2f363e;
}
.nav__notification {
  background-color: #ff6229;
  color: white;
  width: 25px;
  height: 25px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  bottom: 15px;
  animation: notificationAnimation 1s ease-in-out infinite;
}
@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

@keyframes navBtnAppear {
  from {
  }
  to {
    transform: none;
  }
}
.nav__btn {
  position: relative;
  animation: navBtnAppear 1s ease-in-out forwards;
  transform: translateY(-80px);
}
.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.4s;
}
.nav__btn:last-child {
  animation-delay: 0.8s;
}
