@import "reset.css";
@import "index.css";
@import "nav.css";
@import "friends.css";
@import "find.css";
@import "more.css";
/*screens*/
@import "screens/friendsnames.css";
@import "screens/settings.css";
@import "screens/chat.css";
@import "screens/no-mobile.css";
/*component*/
@import "component/user-component.css";
@import "component/icon-row.css";
@import "component/alt-screen-header.css";

@import "channel.css";
@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;500;600&family=Permanent+Marker&display=swap");

body {
  color: #2f363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
.main-screen a {
  text-decoration: none;
}
